.DS_Store
.env
yarn-error.log
chromedriver.log
node_modules/
.parcel-cache/
dist/
tests_output/
generated/
profileNodeJS/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions