.dialog-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

.dialog {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  top: 0;
  position: relative;
}

.dialog-header {
  overflow: hidden;

  &__close-button {
    float: right;
  }
}

.dialog-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 64px);
  grid-template-rows: auto;
  column-gap: 8px;
  row-gap: 4px;

  &__item {
    @include item;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;

      &:checked + .dialog-content__item-marker {
        border: 2px solid #00ff2e;
      }
    }
  }
  &__item-marker {
    position: absolute;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
  }
  &__item-quantity {
    @include item-quantity;
  }
}
