@import "./main";

@import "./mixins";

@import "../profile";
@import "../sections/settings/settings";
@import "../sections/tabs/tabs";
@import "../sections/equipment/equipment";
@import "../sections/backpack/backpack";
@import "../sections/skills/skills";
@import "../sections/chat/chat";

.hidden {
  display: none;
}

@media only screen and (min-width: 1366px) {
  .wrapper {
    width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .menu {
    position: relative;
    background: none;
    width: 100%;
  }
  .mobile-nav {
    display: none;
  }
  .profile-wrapper {
    display: block;
  }
}
