html,
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: steelblue;
}

.wrapper {
  width: 100%;
}

.settings {
  width: 100%;
  min-height: 20%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.mobile-nav {
  display: block;
}
.mobile-nav-button {
  border: none;
  background: rgba(255, 255, 255, 0.7);
  margin: 10px;
  padding: 10px;
}

.profile-wrapper {
  background: rgba(255, 255, 255, 0.6);
  display: none;
  padding: 10px;
}
.profile-wrapper.show {
  display: block;
}

.profile-wrapper__hello {
  font-weight: bold;
}

[class$="__header"] {
  font-variant: small-caps;
}

[class$="__content"] {
  font-size: smaller;
}

[class^="player-list-"][class$="__count"] {
  font-size: smaller;
}

[class^="player-list-"][class$="__header"] {
  display: flex;
}

[class^="player-list-"][class$="__content"] {
  padding: 0 15px;
  margin-top: 0;
  max-height: 20%;
  overflow: auto;
}

.chat {
  height: 200px;
}

.chat__content {
  height: 85%;
  overflow: auto;
}

.chat__input {
  width: 100%;
}

.chat__messages {
  padding: 0 10px;
  margin: 0;
}

.chat__messages li {
  display: block;
}

.chat-message__server {
  font-style: italic;
  color: dimgray;
}

@media only screen and (min-width: 1366px) {
  .wrapper {
    width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .settings {
    position: relative;
    background: none;
  }
  .mobile-nav {
    display: none;
  }
  .profile-wrapper {
    display: block;
  }
  .chat {
    height: 400px;
  }
}
