html,
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: steelblue;
}

.wrapper {
  width: 100%;
}

.settings {
  width: 100%;
  min-height: 20%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.mobile-nav {
  display: block;
}
.mobile-nav-button {
  border: none;
  background: rgba(255, 255, 255, 0.7);
  margin: 10px;
  padding: 10px;
}

.profile-wrapper {
  background: rgba(255, 255, 255, 0.6);
  display: none;
  overflow: auto;
  padding: 10px;
}
.profile-wrapper.show {
  display: block;
}

.profile-wrapper__hello {
  font-weight: bold;
}

[class^="player-list-"][class$="__header"] {
  display: flex;
}

[class^="player-list-"][class$="__content"] {
  max-height: 20%;
  overflow: auto;
}

@media only screen and (min-width: 1366px) {
  .wrapper {
    width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .settings {
    position: relative;
    background: none;
  }
  .mobile-nav {
    display: none;
  }
  .profile-wrapper {
    display: block;
  }
}
