<%- include('./partials/head'); %>

<%- include('./partials/header'); %>

<main>
  <h1>The game wiki page</h1>
  <p>This is the place where you can find detailed informations about the game's content.</p>
</main>

<%- include('./partials/footer'); %>
